@using Microsoft.AspNetCore.Mvc.Rendering
@model CommunityPortal.ViewModels.CreatePostViewModel

@using (var form = Html.BeginForm("Update", "Post", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <div class="row mb-3 g-3">
        <div class="col-md-4">
            @Html.LabelFor(model => model.TagList)

            @Html.ListBoxFor(
                x => x.SelectedTagIds, 
                Model.TagList.Prepend(new SelectListItem()), 
                new
                {
                    @class = "form-control", 
                    @data_allow_clear = "true", 
                    @data_suggestions_threshold = "0",
                    @data_allow_new="true",
                    @data_server="/Tag/Get",
                    @data_live_server="1"
                })
            <div class="invalid-feedback">Please select a valid tag.</div>

        </div>
    </div>
    @Html.LabelFor(model => model.Subject)
    @Html.TextBoxFor(model => model.Subject, new {@class = "form-control"})
    
    @Html.LabelFor(model => model.CategoryId)
    @Html.DropDownListFor(model => model.CategoryId,
        new SelectList(ViewBag.Categories, "Id", "Name"),
        new {@class = "form-control"})
    @Html.LabelFor(model => model.Content)
    <div class="input-group">
        @Html.TextAreaFor(model => model.Content, new {@class = "form-control"})
    </div>
    <button type="submit" class="btn btn-success">add</button>
    @Html.ValidationSummary()
}

<script type="module">
    import Tags from "https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-tags@master/tags.js";
    Tags.init("select");
</script>
