@model List<Post>

@{
    ViewBag.Title = "Post Index";
    Layout = "_Layout";
}

@section Scripts
{

}

<div class="d-flex flex-row justify-content-end mb-4">
    <a
        class="btn btn-primary m-0 p-3"
        asp-controller="Post"
        asp-action="Create">
        New Post
    </a>
</div>

@{
    foreach (var post in Model)
    {
        <div class="d-flex flex-column rounded-1 border border-1 border-dark mb-4">
            <div class="d-flex flex-row justify-content-between border-bottom border-dark border-1 mb-2 p-2">
                <h5 class="text-dark fw-bold m-0">
                    <a
                        class="text-dark fw-bold m-0 p-3"
                        asp-controller="Post"
                        asp-action="View"
                        asp-route-id="@post.Id">
                        @post.Subject
                    </a>
                </h5>
                <small class="text-dark m-0 align-middle">@post.Timestamp</small>
                <a
                    class="text-dark fw-bold m-0 p-3"
                    asp-controller="Post"
                    asp-action="Edit"
                    asp-route-id="@post.Id">
                    Edit
                </a>
                <form method="Post" action="@Url.Action("Delete", "Post")">
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="@post.Id" name="ID"/>
                    <button class="btn btn-sm btn-danger" type="submit">X</button>
                </form>
            </div>
            <div class="flex-grow-1 ms-3">
                @post.Content
            </div>
            <div class="flex-grow-1 ms-3">
                Authur: @post.User.UserName
                @{
                    if (post.PostTags.Any())
                    {
                        <br/>
                        <span>Tags: </span>
                        foreach (var postTag in post.PostTags)
                        {
                            <a
                                class="text-dark fw-bold m-0 p-3"
                                asp-controller="Post"
                                asp-action="Index"
                                asp-route-tag="@postTag.Tag.Name">
                                @postTag.Tag.Name
                            </a>
                        }
                    }
                }
            </div>
        </div>
    }
}