@model Post

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-lg-8">
        <!-- Post content-->
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">@Model.Subject</h1>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">
                    Posted on @Model.Timestamp.ToString("yyyy-MM-dd HH:mm") by @Model.User.UserName
                </div>
                <!-- Post tags-->
                @foreach (var postTag in Model.PostTags)
                {
                    <a
                        class="badge bg-secondary text-decoration-none link-light"
                        asp-controller="Post"
                        asp-action="Index"
                        asp-route-tag="@postTag.Tag.Name">
                        @postTag.Tag.Name
                    </a>
                }
            </header>
            <!-- Post content-->
            <section class="mb-5">
                <p class="fs-5 mb-4">@Model.Content</p>
            </section>
        </article>
    </div>
    <partial name="_PostSideBarPartial"/>
</div>