@*@model IEnumerable<CommunityPortal.Models.Message>

@{
    ViewData["Title"] = "Index";
}




@foreach (var item in Model)
{

    <div class="row">
        <div class="col-md-3">
            @item.Content
        </div>
        <div class="col-md-3">
            @item.User.UserName
        </div>
        <div class="col-md-3">
            @item.TimeStamp
        </div>
        <div class="col-md-3">
            <input class="btn-danger" type="button" value="x" onclick="location.href = '@Url.Action("Delete","Message",new { id = item.Id })'" />
        </div>



    </div>

    <Div>

        @Html.ActionLink("create", "Create", new { id = item.ConversationId }) |
         @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
         @Html.ActionLink("Delete", "Delete", new { id=item.Id })
    </Div>

}*@
@model Conversation
    @{
        ViewData["Title"] = "Index";
    }
    @section scripts
    {
        <script src="~/js/Message.js"></script>
    }
<div class="card" id="getMessage">
    <partial name="_MessagePartial" model="@Model.Messages"/>
</div>

<div class="accordion-item">
    @*<form id="AjaxForm">*@
        <input id="message" name="id" value="@Model.Id" hidden/>
        <input id="content" name="username" placeholder="type"/>
        <input type="submit" id="sendmessage" class="btn-outline-success text-center" value="Send" onclick="SendMessage()"/>

    @*</form>*@
</div>

