@model ThreadUpdateViewModel

@{
    ViewBag.Title = "Create new thread";
    Layout = "_Layout";
}

<h2 class="text-truncate mb-5">Editing Thread @Model.Subject</h2>

<form class="d-flex flex-column mb-5" method="Post" action="@Url.Action("Update", "Thread")">
    @Html.AntiForgeryToken()
    <input hidden value="@Model.ThreadId" name="ThreadId"/>
    <input id="Subject" name="Subject" placeholder="Subject" value="@Model.Subject" class="form-control mb-2" required maxlength="255"/>
    <textarea class="form-control mb-2" id="Content" name="Content" placeholder="Content">@Model.Content</textarea>
    <div class="d-flex flex-row justify-content-end">
        <button id="ButtonCreateConfirm" class="btn btn-success text-white" type="submit">Update</button>
    </div>
</form>

<div class="d-flex flex-row justify-content-end">
    <form method="Post" action="@Url.Action("Delete", "Thread")">
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Model.ThreadId" name="ID"/>
        <button class="btn btn-sm btn-danger" type="submit">Delete Thread</button>
    </form>
</div>