@model EditSubForumViewModel

@{
    ViewBag.Title = "Editing " + Model.SubForum.Name;
    Layout = "_Layout";
}

@section Scripts
{
    <script>
        $(".multiOption").mousedown(function(e) {
            e.preventDefault();
            $(this).prop('selected', !$(this).prop('selected'));
            return false;
        });
    </script>
}

<h2 class="text-truncate mb-5">Editing @Model.SubForum.Name</h2>

<form class="d-flex flex-column" method="Post" action="@Url.Action("Update", "SubForum")">
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(model => model.SubForum.Id)

    @Html.LabelFor(model => model.SubForum.Name)
    @Html.TextBoxFor(model => model.SubForum.Name, new {@class = "form-control mb-2"})
    
    @Html.LabelFor(model => model.SubForum.Description)
    @Html.TextBoxFor(model => model.SubForum.Description, new {@class = "form-control mb-2"})
    
    @Html.LabelFor(model => model.SubForum.Forum)
    <select class="form-select mb-2" size="3" name="SubForum.ForumId" required>
        @{
            foreach (var forum in Model.Forums)
            {
                if (Model.SubForum.ForumId == forum.Id)
                {
                    <option value="@forum.Id" selected="selected">@forum.Name (Current)</option>
                }
                else
                {
                    <option value="@forum.Id">@forum.Name</option>
                }
            }
        }
    </select>

    @Html.LabelFor(model => model.AvailableGroups)
    <select class="form-select mb-2" size="5" name="GroupIds" multiple required>
        @{
            foreach (var group in Model.AvailableGroups)
            {
                if (Model.SubForum.SubForumGroups.Select(sfg => sfg.GroupId).Contains(group.Id))
                {
                    <option class="multiOption" value="@group.Id" selected="selected">@group.Name</option>
                }
                else
                {
                    <option class="multiOption" value="@group.Id">@group.Name</option>
                }
            }
        }
    </select>
    
    <div class="d-flex justify-content-end">
        <button class="btn btn-success" type="submit">Update</button>
    </div>
</form>
