@model IEnumerable<Conversation>

@{
    ViewData["Title"] = "Conversation";
}
@section scripts
{
    <script src="~/js/Message.js"></script> 
}

@*<div class="flex-md-row-reverse align-content-lg-end">
    <input class="btn-outline-success align-content-md-stretch" type="button" value="Create New Conversation" onclick="location.href='@Url.Action("Create" ,"Conversation")'" /><br />

</div>*@
<br />


@foreach (Conversation conversation in Model)
{
    <div class="d-flex flex-row justify-content-between border border-2">
        <a href="@Url.Action("Index" ,"Message" ,new {id = conversation.Id })">@conversation.Subject</a>
        @*<a href="@Url.Action("Create" ,"Message" ,new {id = conversation.Id })">Send message</a>*@
        <input class="btn-danger" type="button" value="X" onclick="location.href='@Url.Action("Delete" ,"Conversation" ,new {id = conversation.Id })'" />
        @*<partial name="_ConversationPartial" model="conversation" />*@
    </div>
}


